/* Font Google Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
}
img { 
    width: 100%;
}
body {
    background-color: #ddd;
    font: 62.5%/18px "Oswald" Arial;
    margin: 50px;
}

/* Container */
.container {
    display: grid;
    gap: 10px;
}

/* Header */
.header {
    display: grid;
    grid-template-areas: 
        'hero hero feature-1'
        'hero hero feature-2';
}
.hero {
    grid-area: hero;
    min-height: 300px;
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}
.hero > * {
    display: none;
}
.features {
    color: white;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
    text-align: center;
    cursor: pointer;
}
.feature-1 {
    grid-area: feature-1;
    background-image: url(img/2.jpg);
    background-size: cover;
    background-position: center;
}
.feature-2 {
    grid-area: feature-2;
    background-image: url(img/3.jpg);
    background-size: cover;
    background-position: center;
}
.features .price {
    font-size: 3.5rem;
    font-weight: 200;
}

/* Navigasi */
.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.menu .brand {
    font-size: 1.3rem;
    color: #333;
}
.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}
.menu a {
    display: block;
    background-color: #000;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: .8rem;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 999;
 }
 .menu-toggle input {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 40px;
    height: 28px;
    opacity: 0;
    cursor: pointer; 
    z-index: 2;
 }
.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
 }
 .menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
 }
 .menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: white;
 }
 .menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
 }
 .menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: white;
 }

 /* Services */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.service {
    font-family: 'Oswald';
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #aaa;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}
.service .icon {
    font-size: 3rem;
}
.service h3 {
    font-size: 1.3rem;
}
.service p {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: .8rem;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 50px;
    gap: 5px;
}
.gallery h2 {
    /* grid-column-start: 1;
    grid-column-end: -1; */
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
}

/* Responsive BreakPoint */
@media (max-width: 1024px) {
    .menu {
        /* kita buat ordernya balkkan ke awal */
        order: inherit;
        grid-template-columns: 1fr;
    }
    .menu .brand {
        display: none;
    }
    .hero > * {
        display: block;
        background-color: black;
        color: white;
        padding: 5px;
        margin-bottom: 5px;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .menu {
        order: -1;
        justify-items: end;
    }
    .menu-toggle {
        display: flex !important;
    }
    .menu ul {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: black;
        z-index: 1;
        transform: translateY(-100%);
        transition: all 1s;
    }
    .menu ul.slide {
        transform: translateY(0);
    }
}
@media (max-width: 600px) {
 body {
    margin: 15px;
 }
 .header {
    grid-template-areas: 
        'hero'
        'feature-1'
        'feature-2';
 }
}