/* Google Font Pacifico */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* Google Font Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
:root {
    font-siz: 62.5%;
}
* {
    margin: 0;
    padding: 0;
}
/* body {
    font-family: 'Montserrat';
} */
body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    background-color: blueviolet;
    justify-content: space-around;
    /* padding: 20px 0; */
    color: rgb(234, 192, 255);
    height: 50px;
    align-items: center;
}
nav .logo {
    font-family: "Pacifico", cursive;
    letter-spacing: 3px;
}
nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
nav ul li a {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
}
nav ul li a:hover {
    color: rgb(250, 240, 255);
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
 }
 .menu-toggle input {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 40px;
    height: 28px;
    opacity: 0;
    cursor: pointer; 
    z-index: 2;
 }
.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(234, 192, 255);
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
 .menu-toggle span:nth-child(2){
    transform-origin: 0 0;
 }
 .menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
 }
 .menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: white;
 }
 .menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
 }
 .menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: white;
 }

/* Responsive BreakPoint */
/* Ukuran Tablet , lebar layar 768px kebawah */
@media screen and (max-width: 768px){
    nav ul {
        width: 50%;
    }
}

/* Ukuran Mobile atau Handphone, lebar layar 576px kebawah */
@media screen and (max-width: 576px){
    .menu-toggle {
        display: flex !important;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: blueviolet;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
    }
    nav ul.slide {
        transform: translateX(0);
    }
}